body {
  margin: 0%;
  padding: 0%;
}
/* barre de navigation entete */
nav {
  background-color: #16c5fd;
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 20px 10px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0, 5s;
}
/* Barre de navigation */
.navbar {
  display: flex;
  position: relative;
}
.navbar li {
  list-style: none;
  position: relative;
}
.navbar a {
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
  font-size: 25px;
  color: white;
}
input {
  color: black;
  margin-left: 45px;
}

.logo {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  font-size: 30px;
}
/* les sous menus */
.sub {
  display: none;
}

.sub {
  display: none;
}
.navbar li:hover .sub {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 20%;
  padding: 0px;
  z-index: 1000;
}
.sub li {
  border-bottom: 1px solid #ccc;
  background-color: darkgray;
  width: 100px;
}
.sub li a {
  padding: 5px 15px;
  font-size: 15px;
  color: grey;
  width: 270px;
}

nav .navbar li a:hover {
  color: black;
  border-bottom: 2px solid grey;
  font-weight: bold;
}
.sub li a {
  color: white;
  margin-left: 1%;
  padding-top: 2px;
}

.sub li {
  margin-top: 10px;
}

/* banniere */
.banniere {
  position: relative;
  width: 100%;
  height: 600px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Img/salleban.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.banniere .contenu {
  max-width: 25%;
  text-align: center;
}

.banniere .contenu h2 {
  color: black;
  font-size: 3em;
  font-weight: 900;
  text-transform: capitalize;
}
.contenu p,
h3 {
  color: white;
}

/* pppp */
p {
  font-size: medium;
  text-align: center;
  font-size: 1.6em;
}
h1 {
  font-family: "Josefin Slab script=latin rev=2";
  font-weight: 400;
  font-style: normal;
  line-height: initial;
  text-align: center;
  font-size: 3.2em;
}
#image1 {
  background: url("Images/valeriocanez.jpg") no-repeat fixed 50% 50%;
  background-size: cover;
  padding-top: 60px; /*ou marging top*/
  height: 798px;
}
#image1 {
  background-color: cornflowerblue;
  padding: 0 20%;
  background-size: cover; /*pou image la pran tout espace la*/ /*cover ou 100%*/
  padding-top: 60px; /*ou marging top*/
  height: 798px;
}

#text1 {
  padding: 0 20%;
}

.presentation1 {
  box-shadow: 0px 3px 10px 3px #787878;
  width: 300px;
  margin-left: 90px;
  padding: 12px;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  margin-bottom: 15px;
}
.presentation2 {
  box-shadow: 0px 3px 10px 3px #787878;
  width: 300px;
  margin-left: 90px;
  padding: 12px;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  margin-bottom: 15px;
}
#section4 {
  background-color: white;
}
em {
  text-decoration: line-through;
}
/* Brand*/

.brand {
  background-color: #16c5fd;
}
.brand li {
  display: inline-block;
  list-style: none;
  margin: 12px;
}

.brand li img {
  border-radius: 20%;
}
/* footer */
footer {
  background-color: #16c5fd;
  color: white;
  padding: 30px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer li {
  list-style: none;
  cursor: pointer;
}

.social {
  display: flex;
}

.left,
.right {
  margin-left: 20%;
}
.social li {
  margin-bottom: 12px;
}

.left,
.right {
  font-size: 20px;
}
.copy {
  font-size: 25px;
}
.btn_media i {
  margin-left: 4px;
}
.right .btn_foot li a:hover {
  color: black;
  border-bottom: 2px solid grey;
  font-weight: bold;
  background-color: white;
}
.left .btn_media .contact_btn a:hover {
  color: black;
  border-bottom: 2px solid grey;
  font-weight: bold;
  background-color: white;
}

main {
  margin-bottom: 15px;
}

img:hover {
  opacity: 0.5;
  transition: 0.6s ease-in-out;
  transform: scale(1.05);
}
